@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #131313;
  color: white;
  overflow: hidden;
}

g[data-selected="true"]>path {
  fill: #23470f !important;
}

.arc {
  border: 2px solid #fff;
  background:#090909;
  padding: 50px 0 0 0;
  /* the spacing between each arc */
  border-radius: 50%;
  /* for making the elements 'round' */
  border-left-color: transparent;
  /* hiding the top border */
  border-right-color: transparent;
  border-bottom-color: transparent;

}
.weather-specs>div{
  background:#090909;
  padding:10px;
  display:flex;
  flex-direction: column;
  @apply rounded-lg;
}